.smart-notification {
  padding: 20px;
  border: 1px solid grey;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.body-container {
  display: flex;
  flex-direction: row;
}

sn-text-block {
  flex: 1;
}

sn-image {
  height: 150px;
  flex: 0;
}
