.info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  flex: 1;
}

.source-logo {
  height: 40px;
  width: 100%;
  max-width: 40px;
}

.source-title-container {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  flex: 1;
}

.source-title {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  color: var(--info-header-title-color, var(--font-color-dark, #1b1b1b));
}

.source-time {
  font-weight: 200;
  font-size: 12px;
  margin: 0;
  color: var(--info-header-time-color, var(--font-color-light, #757575));
}
