* {
  box-sizing: border-box;
}

.action {
  width: calc(100% - 1em * 2);
  overflow: hidden;
  white-space: nowrap;
  padding: 11px;
  text-overflow: ellipsis;
  text-align: center;
  outline: 0;
  cursor: pointer;

  font-weight: var(--font-weight-normal, 400);
  font-size: var(--font-size-default, 0.8em);
  margin: 1em;

  color: var(--actions-color, grey);
  background: var(--actions-primary-background, white);
  border-radius: var(--actions-border-radius, 2px);

  text-transform: var(--actions-text-transform, none);
}

/*.action::first-letter {*/
/*   text-transform: ${props =>*/
/*      get(props.theme, 'actionButtons.textTransform') === 'sentence-case' ||*/
/*      get(props.theme, 'actionButtons.textTransform') === 'uppercase'*/
/*        ? 'uppercase'*/
/*        : 'none'};*/
/* }*/

.action:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.primary {
  color: var(--actions-primary-color, blue);
  background: var(--actions-primary-background, white);
  border: var(--actions-primary-border, 0px);
}

.secondary {
  color: var(--actions-secondary-color, blue);
  background: var(--actions-secondary-background, white);
  border: var(--actions-secondary-border, 0px);
}
